version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: monthly
  open-pull-requests-limit: 3
  ignore:
    - dependency-name: "rails"
      update-types: ["version-update:semver-major"]
    - dependency-name: "devise"
      update-types: ["version-update:semver-major"]

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: monthly
  open-pull-requests-limit: 2
